<div class="form">
  <div class="form-group col-4">
    <label for="familia">Familia:</label>
    <select class="form-control" id="familia" [(ngModel)]="formulario.familia" name="familia" #familia="ngModel">
      <option value="" ></option>
      <option *ngFor="let fam of familia_curso" value="{{ fam  }}" >{{ fam  }}</option>
    </select>
  </div>

  <div class="form-group col-4">
    <label for="nombre">Nombre de ciclo:</label>
    <select class="form-control" id="nombre" [(ngModel)]="formulario.nombre" name="nombre" #nombre="ngModel">
      <option value="" ></option>
      <option *ngFor="let nom of nombre_curso" value="{{ nom }}" >{{ nom }}</option>
    </select>
  </div>

  <div class="form-group col-4">
    <label for="provincia">Provincia:</label>
    <select class="form-control" id="provincia" [(ngModel)]="formulario.provincia" name="provincia" #provincia="ngModel">
      <option value="" ></option>
      <option value="Almeria">Almería</option>
      <option value="cadiz">Cádiz</option>
      <option value="cordoba">Córdoba</option>
      <option value="granada">Granada</option>
      <option value="huelva">Huelva</option>
      <option value="jaen">Jaén</option>
      <option value="malaga">Málaga</option>
      <option value="sevilla">Sevilla</option>
    </select>
  </div>

  <div class="form-group col-4">
    <label for="tipo">Tipo:</label>
    <select class="form-control" id="tipo" [(ngModel)]="formulario.tipo" name="tipo" #tipo="ngModel">
      <option value="" ></option>
      <option value="publico">Público</option>
      <option value="privado">Privado</option>
    </select>
  </div>

  <div class="form-group col-4">
    <label for="turno">Turno:</label>
    <select class="form-control" id="turno" [(ngModel)]="formulario.turno" name="turno" #turno="ngModel">
      <option value="" ></option>
      <option value="manana">Mañana</option>
      <option value="tarde">Tarde</option>
      <option value="ambos">Ambos</option>
    </select>
  </div>

  <div class="form-group col-4">
    <label for="bilingue">Bilingüe:</label>
    <select class="form-control" id="bilingue" [(ngModel)]="formulario.bilingue" name="bilingue" #bilingue="ngModel">
      <option value="" ></option>
      <option *ngFor="let bili of bilingue_curso" value="{{ bili }}" >{{ bili }}</option>
    </select>
  </div>

  <div class="form-group col-4">
    <label for="dual">Dual:</label>
    <select class="form-control" id="dual" [(ngModel)]="formulario.dual" name="dual" #dual="ngModel">
      <option value="" ></option>
      <option value="no">No oferta dual</option>
      <option value="solo">Solo algunas plazas</option>
      <option value="todas">Todas las plazas son dual</option>
    </select>
  </div>

</div>
<input class="btn-primary btn" id="modi" type="button" value="Buscar datos" (click)="buscar_datos()">
