<form  (ngSubmit)="submit()"  #filtroForm="ngForm">

  <div class="form-group">
    <label  for="familia">Familia:</label>
    <select class="form-control" id="familia" [(ngModel)]="filtro.familia" name="familia"  #familia="ngModel">
      <option value="Almeria">Actividades físicas y deportivas</option>
      <option value="cadiz">Administración y gestión</option>
      <option value="cordoba">Agraria</option>
      <option value="granada">Artes gráficas</option>
      <option value="huelva">Comercio y marketing</option>
      <option value="jaen">Edificación y obra civil</option>
      <option value="malaga">Electricidad y electrónica</option>
      <option value="sevilla">Energías y Agua</option>
      <option value="Almeria">Fabricación mecánica</option>
      <option value="cadiz">Hostelería y turismo</option>
      <option value="cordoba">Imagen personal</option>
      <option value="granada">Imagen y sonido</option>
      <option value="huelva">Industrias alimentarias</option>
      <option value="jaen">Industrias extractivas</option>
      <option value="malaga">Informática y Comunicaciones</option>
      <option value="sevilla">Instalación y Mantenimiento</option>
      <option value="huelva">Madera, mueble y corcho</option>
      <option value="jaen">Marítimo-pesquera</option>
      <option value="malaga">Química</option>
      <option value="sevilla">Sanidad</option>
      <option value="Almeria">Seguridad y medio ambiente</option>
      <option value="cadiz">Servicios socioculturales y a la comunidad</option>
      <option value="cordoba">Textil, Confección y Piel</option>
      <option value="granada">Transporte y Mantenimiento de Vehículos</option>
    </select>
  </div>

  <div class="form-group">
      <label  for="nombre">Nombre de ciclo:</label>
      <select class="form-control" id="nombre" [(ngModel)]="filtro.nombre" name="nombre"  #nombre="ngModel">
        <option value="fp1">Ciclos Formativos de Grado Medio</option>
        <option value="fp2">Ciclos Formativos de Grado Superior</option>
      </select>
  </div>

  <div class="form-group">
    <label  for="provincia">Provincia:</label>
    <select class="form-control" id="provincia" [(ngModel)]="filtro.provincia" name="provincia"  #provincia="ngModel">
      <option value="Almeria">Almería</option>
      <option value="cadiz">Cádiz</option>
      <option value="cordoba">Córdoba</option>
      <option value="granada">Granada</option>
      <option value="huelva">Huelva</option>
      <option value="jaen">Jaén</option>
      <option value="malaga">Málaga</option>
      <option value="sevilla">Sevilla</option>
    </select>
  </div>

  <div class="form-group">
    <label  for="tipo">Tipo:</label>
    <select class="form-control" id="tipo" [(ngModel)]="filtro.tipo" name="tipo"  #tipo="ngModel">
      <option value="publico">Público</option>
      <option value="privado">Privado</option>
    </select>
  </div>

  <div class="form-group">
    <label  for="turno">Turno:</label>
    <select class="form-control" id="turno" [(ngModel)]="filtro.turno" name="turno"  #turno="ngModel">
      <option value="manana">Mañana</option>
      <option value="tarde">Tarde</option>
      <option value="ambos">Ambos</option>
    </select>
  </div>

  <div class="form-group">
    <label  for="bilingue">Bilingüe:</label>
    <select class="form-control" id="bilingue" [(ngModel)]="filtro.bilingue" name="bilingue"  #bilingue="ngModel">
      <option value="no">No bilingüe</option>
    </select>
  </div>

  <div class="form-group">
    <label  for="dual">Dual:</label>
    <select class="form-control" id="dual" [(ngModel)]="filtro.dual" name="dual"  #dual="ngModel">
      <option value="no">No oferta dual</option>
      <option value="solo">solo algunas plazas</option>
      <option value="todas">todas las plazas son dual</option>
    </select>
  </div>

  <button  type="submit"  class="button" [disabled]="!filtroForm.form.valid">Consultar</button>
</form>
