<mat-form-field appearance="fill">
  <mat-label for="comunidades">CCAA:</mat-label>
  <mat-select id="comunidades">
    <mat-option *ngFor="let comu of comunidades" value="{{ comu }}" >{{ comu }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label for="D_entregadas">D.entregadas:</mat-label>
  <input matInput type="number" id="D_entregadas">
  <span matSuffix>Unidades</span>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label for="D_admin">D.administradas:</mat-label>
  <input matInput type="number" id="D_admin">
  <span matSuffix>Unidades</span>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label for="D_completa">D.completa:</mat-label>
  <input matInput type="number" id="D_completa">
  <span matSuffix>Unidades</span>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label for="P_entregadas">P.entregadas:</mat-label>
  <input matInput type="number" id="P_entregadas" min="0" max="100">
  <span matSuffix>%</span>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label for="P_completas">P.completa:</mat-label>
  <input matInput type="number" id="P_completa" min="0" max="100">
  <span matSuffix>%</span>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label for="P_admin">P.administradas:</mat-label>
  <input matInput type="number" id="P_admin" min="0" max="100">
  <span matSuffix>%</span>
</mat-form-field>

<button mat-raised-button color="primary" (click)="guardar_datos()">Cargar datos</button>
